@using SignalRWebUI.Dtos.MessageDto

@model CreateMessageDto
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bize Ulaşın
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-action="SendMessage" asp-controller="Default">
                        <div>
                            <input type="text" class="form-control" asp-for="NameSurname" placeholder="Adınız Soyadınız" />
                        </div>
                        <div>
                            <input type="text" class="form-control" asp-for="Mail" placeholder="Mail Adresiniz" />
                        </div>
                        <div>
                            <input type="text" class="form-control" asp-for="Phone" placeholder="Telefon Numaranız" />
                        </div>
                        <div>
                            <input type="text" class="form-control" asp-for="Subject" placeholder="Konu" />
                        </div>
                        <div>
                            <textarea class="form-control" asp-for="MessageContent" rows="50"></textarea>
                        </div>
                        <div>
                            <input type="date" class="form-control" asp-for="Date" />
                        </div>

                        <div class="btn_box">
                            <button>
                                Mesajınızı Gönderin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>


